

#container{
  display:'flex';
  margin:'10px';
  flex-direction:'column';
}

.section{
  border: '1px solid #000';
  border-radius: '12px';
  background:#CCC; 
  width:'1024px';
  height:'300px';
  padding:'10px';
}

